autom4te.cache/
build/
config.h.in
configure
configure.ac
run-tests.php
config.h
config.h.in~
config.log
config.nice
config.status
libtool
build
include
modules

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

*.pro.user
*.pro.user.*
Makefile*

# QtCreator
*.autosave

# QtCreator local machine specific files for imported projects
*creator.user*
*.config
*.creator
*.files
*.includes
